.access-denied-container {
    text-align: center;
    padding: 50px;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
}

    .access-denied-container h1 {
        font-size: 2rem;
    }

    .access-denied-container p {
        font-size: 1.2rem;
    }

    .access-denied-container .btn {
        margin-top: 20px;
    }
